{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <h1 class="col-12 text-center my-5">Le Blog de Batman</h1>
        </div>

        <div class="row">
            <h2 class="text-center col-12 my-4">Lorem ipsum dolor sit amet, consectetur.</h2>

            <p class="col-12 col-md-10 offset-md-1 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam culpa delectus distinctio ducimus est facere fuga fugit incidunt modi molestiae mollitia necessitatibus nesciunt nobis odio optio quaerat, quam quasi quod rem reprehenderit sit temporibus. A assumenda eveniet facere ipsam, maxime non odio quam ratione, similique sit sunt temporibus vel.</p>
        </div>

        <div class="batman-cover row my-5"></div>
    </div>



{% endblock %}

